name: "tagged-release"

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  dosomething:
    name: Create the File
    runs-on: ubuntu-latest
    steps:
    - name: File creation step
      run: |
        mkdir 'artifact'
        echo 'awesome!' >'artifact/some.txt'
        echo "SHA: ${GITHUB_SHA}"
        ls

    - name: Transfer files to next job
      uses: actions/upload-artifact@master
      with:
        name: some_artifact
        path: ./artifact/


  release_the_kraken:
    name: Publish the release
    runs-on: ubuntu-latest
    needs: dosomething
    steps:
    - name: Do Nothing
      uses: actions/checkout@v2
    - name: Generate Release Info
      id: get_info
      run: echo ::set-output name=Tag::${GITHUB_REF#refs/tags/}

    - name: Transfer files from previous job
      uses: actions/download-artifact@master
      with:
        name: some_artifact
        path: ./artifact/


    - name: Create a Release
      uses: elgohr/Github-Release-Action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        args: ${{ steps.get_info.outputs.Tag }}
        entryPoint: ${{ steps.get_info.outputs.Tag }}
