---
name: "tagged-release"

on:
  push:
    branches: [ main ]
    tags:
      - "v*"

jobs:
  dosomething:
    name: Create the File
    runs-on: ubuntu-latest
    steps:
    - name: File creation step
      run: |
        mkdir 'artifact'
        echo 'awesome' >'artifact/some.txt'

    - uses: actions/upload-artifact@master
      with:
        name: some_artifact
        path: ./artifact/


  build:
    runs-on: ubuntu-latest
    needs: dosomething
    steps:

    - uses: actions/checkout@master

    - uses: actions/download-artifact@master
      with:
        name: some_artifact
        path: ./artifact/
    - run: cat 'artifact/some.txt'

    - uses: actions/checkout@master
    - name: Create a Release
      uses: elgohr/Github-Release-Action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        args: MyReleaseMessage
        files: |
          'artifact/some.txt'
