---
name: "tagged-release"

on:
  push:
    branches: [ main ]
    tags:
      - "v*"

jobs:
  dosomething:
    name: Create the File
    runs-on: ubuntu-latest
    steps:
    - name: File creation step
      run: |
       echo 'awesome' >some.txt


  build:
    runs-on: ubuntu-latest
    needs: dosomething
    steps:
    - uses: actions/checkout@master
    - name: Create a Release
      uses: elgohr/Github-Release-Action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        args: MyReleaseMessage
        files: |
          some.txt
